body {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==);
}

footer, .main-page {
  box-shadow: #0000001f 0 2px 2px,#0000000f 0 3px 1px -2px,#0000001f 0 1px 5px,#00000017 0 -1px .5px;
  padding: 20px 50px 20px;
  background: #fff;
}

/* header and footer areas */
.menu { 
  padding: 0;
  display: flex;
  justify-content: center; 
}

.menu a {
  text-decoration: none;
  padding: 5px;
}

.menu-wrap,.menu-link,.menu-icon {
    opacity: .8;
    filter: alpha(opacity=80);
    text-shadow: 0 1px #0003;
    padding: 20px 15px;
    text-decoration: none;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    display: block
}

.menu-wrap {
  padding: 0 15px;
  -o-transition: all .3s ease;
  transition: all .3s;
  display: flex
}

.menu-wrap:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.menu-wrap:hover .menu-icon {
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s ease;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
  transform: rotate(360deg)
}

.menu-link {
    letter-spacing: 1px;
    font-weight: 300
}
.menu-icon {
  background: url("../image/taichi.png") 50%/80% no-repeat;
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s ease;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
  transform: rotate(0);
}

.article-meta {
  text-decoration: none;
  /* background: #eee; */
  padding: 5px;
  hr {
    border-style: dashed;
    color: #ddd;
}
}

.terms { font-size: .9em; }
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer { 
  margin-top: 30px;
  line-height: 1.7;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 5px 20px 5px;
  overflow-x: auto;
  background: #011627;
  border-radius: 5px;
}
code { background: #eee; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { 
  hyphens: auto; 
  min-height: 500px;
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  padding: 1rem 0 0;
}

.pagination a {
  font-size: 24px;
  color: #bfbfbf;
  letter-spacing: .1rem;
  font-weight: 700;
  padding: 5px 5px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pagination li {
  padding-bottom: 3px;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative;
  display: inline;
}

.pagination li.disabled {
  display: none;
}

.pagination li:hover a {
  color: #000;
}

.pagination li:before, .pagination li:after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  bottom: 0px;
}

.pagination li:before .active, .pagination li:after .active {
  width: 100%;
}

.pagination li:before {
  left: 50%;
}

.pagination li:after {
  right: 50%;
}

.pagination li:hover:before, .pagination li:hover:after {
  width: 50%;
}

.pagination li.active a {
  color: #000;
}

.pagination li.active:before, .pagination li.active:after {
  width: 60%;
}

.index-list-wrap{
  margin: 1rem 0;
  border-bottom: 1px solid lightgray;
  padding: .5rem 0;
  content-visibility: auto;
  display: block;
}

.index-list-title{
    font-size: 150%;
    color: #2f2f2f;
    text-decoration: none;
    font-weight: 600;
    margin: 2px 4px;
}

.index-list-date{
  color: #6d6d6d;
}

.index-list-summary{
    margin: 15px 0 26px 8px;
    color: #383838;
    border-left: 4px solid #ddd;
    color: var(--blockquote-color);
    padding: 0 0 0 11px;
}

.index-list-readmore{
    font-size: 90%;
    margin: 0 4px;
    color: #6d6d6d;
    user-select: none;
    text-decoration: none;
}

@keyframes rotate-all {
    to {
        transform: rotate(360deg)
    }
}


.sidebar-top {
    /* display: none; */
    opacity: 0;
    background-color: #fff;
    z-index: 999;
    -o-transition: all .3s ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: "Font Awesome 6 Free","Font Awesome 6 Brands","Font Awesome 5 Free","Font Awesome 5 Brands",FontAwesome;
    transition: all .3s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 1px 2px 10px #0003
}

.sidebar-top img {
    -o-transition: all .3s ease;
    -ms-animation: rotate-all 3s infinite;
    -ms-animation-timing-function: linear;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    transition: all .3s;
    animation: 3s linear infinite rotate-all
}

.sidebar-top .arrow-up {
    -o-transition: all .3s ease;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    transition: all .3s
}

.sidebar-top .arrow-up:before {
    content: "";
    color: #ff5252;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    top: 0
}

.sidebar-top:hover img {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.sidebar-top:hover .arrow-up {
    opacity: 1;
    -ms-filter: none;
    filter: none
}
